*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  background: rgb(170, 86, 208);
  background: linear-gradient(
      135deg,
      rgba(170, 86, 208, 1) 0%,
      rgba(255, 139, 96, 1) 100%
    )
    fixed;
  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    max-width: 570px;
    min-height: 840px;
    margin: 0 auto;

    position: relative;
    top: 50%;
    transform: translateY(15%);
    font-size: 12px;
  }
}

.col-1 {
  grid-column: 2 / 3;
}
.col-2 {
  grid-column: 3 / 4;
}
.col-3 {
  grid-column: 4 / 5;
}
.col-4 {
  grid-column: 5 / 6;
}
.col-3-4 {
  grid-column: 4 / 6;
}
.col-1-4 {
  grid-column: 2 / 6;
}
/* Grid Classes - Rows */
.row-1 {
  grid-row: 2 / 3;
}
.row-2 {
  grid-row: 3 / 4;
}
.row-3 {
  grid-row: 4 / 5;
}
.row-4 {
  grid-row: 5 / 6;
}
.row-5 {
  grid-row: 6 / 7;
}
.row-6 {
  grid-row: 7 / 8;
}
.row-7 {
  grid-row: 8 / 9;
}
.row-1-2 {
  grid-row: 2 / 4;
}

#calc-display {
  width: 100%;
  height: 100%;
  background-color: #212121;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
#dis,
#eq {
  padding-right: 10%;
}

#dis {
  font-size: 68px;
}
#eq {
  font-size: 26px;
  color: #a67a7d;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  margin: 0;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: grab;
  font-size: 2.5em;
}

button:focus {
  outline: 0;
}
.num {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(244, 244, 244, 1) 100%
  );
  &:hover {
    background: linear-gradient(
      135deg,
      rgba(244, 244, 244, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}
.oper {
  background: linear-gradient(
    135deg,
    rgba(156, 77, 224, 1) 0%,
    rgba(142, 62, 205, 1) 100%
  );
  &:hover {
    background: linear-gradient(
      135deg,
      rgba(142, 62, 205, 1) 0%,
      rgba(156, 77, 224, 1) 100%
    );
  }
  color: #fff;
}
.equal {
  background: #f90080;
  &:hover {
    background: darken(#f90080, 2%);
  }
  color: #fff;
  border-bottom-right-radius: 8px;
}
button#zero {
  border-bottom-left-radius: 8px;
}

/* Responsive for Small Screens */
/* @media only screen and (max-width: 767px) { */
// .container {
//   grid-template-columns: 6% repeat(4, 22%) 6%;
//   grid-template-rows: 5% 5% 20% repeat(5, 13%) 5%;
// }
// #dis {
//   font-size: 12vw;
// }
// #eq {
//   font-size: 4vw;
// }
/* } */
